<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>
        {% block title %}
        Title
        {% endblock %}
    </title>
</head>
<body>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 py-md-3  bd-sidebar">
            <input id="search" type="search" class="form-control form-control-lg" placeholder="Search">
            <span id="drop"></span>
            <hr>
            <nav class="accord menu">
                {% for item in tree recursive %}
                <li class="nav-item {{item.type}}"><a class="nav-link {% if request.path == item.link %}active{% endif %}" href="{{url_for('view', path=item.link)}}">
                    {{item.name}}
                </a>
                    {% if item.parent %}
                    <ul class="sub menu">
                        {{loop(item.parent)}}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
                <!-- открывает модальное окто  -->
                <!--a class="nav-link" href="#" data-toggle="modal" data-target="#add-menu">Add ...</a-->

            </nav>
        </div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
            {% block content %}
            <h1>Block</h1>
            {% endblock %}
        </main>
    </div>
</div>
<script src="{{ url_for('static', filename='js/master.js') }}"></script>
<!--script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>